:root {
  /* Light Mode */
  @apply bg-white text-black;
  --background-modal: #ffffff;
  --background-table: #f8f9fa;
  --background-table-hover: #f1f5f9;
  --border-table: #d1d5db;
  --text-modal: #1f2937;
  --text-input-modal: #000000;
  --border-input-modal: #d1d5db;
  --border-input-modal-focus: #10b981;
  --color-button: #ff6f61;
  --color-button-hover: #e64a44;
  --text-addColumn: #2563eb;
  --structure-button: #3b82f6;
  --structure-button-hover: #2563eb;
  --modal-button: #10b981;
  --modal-button-hover: #047857;
  --modal-button-invalid: #ef4444;
  --modal-button-invalid-hover: #dc2626;
  --text-removeColumn: #dc2626;
  --text-removeRow: #dc2626;
  --background-removeColumn: #ef4444;
  --background-removeColumn-hover: #dc2626;
  --background-removeRow: #ef4444;
  --background-removeRow-hover: #dc2626;
  --background-deleteCell: #10b981;
  --outline-invalid: #dc2626;
  --outline-valid: #047857;
  --border-invalid: #dc2626;
  --cellinformation-textarea-text-color: #374151;
  --cellinformation-textarea-background-color: #d1d5db;
  --cellinformation-textarea-border-color: #d1d5db;
  --cellinformation-textarea-border-focus-color: #9ca3af;
  --cellinformation-textarea-border-ring-color: #6b7280;
  --cellinformation-textarea-border-outline-color: #6b7280;
  --cellinformation-textarea-invalid-text-color: #dc2626;
  --cellinformation-textarea-invalid-background-color: #dc2626;
  --cellinformation-textarea-invalid-background-hover-color: #e01111;
  --cellinformation-settings-backgroud-color: #fb923c;
  --cellinformation-settings-backgroud-color-hover: #ea580c;
  --cellinformation-settings-invalid-backgroud-color: #f87171;
  --cellinformation-settings-invalid-backgroud-color-hover: #dc2626;
  --settings-label-color: #374151;
  --settings-ring-color: #d1d5db;
  --settings-accent-color: #6b7280;
  --settings-outline-color: #d1d5db;
  --settings-invalid-border-color: #ef4444;
  --settings-invalid-text-color: #dc2626;
  --settings-section-border-color: #d1d5db;
  --settings-section-background-color: #f8f9fa;
}

.dark-mode {
  /* Dark Mode */
  @apply bg-[#252525] text-white;
  --background-modal: #323232;
  --background-table: #4a4a4a;
  --border-table: #374151;
  --background-table-hover: #4b5563;
  --text-modal: #d1d5db;
  --text-input-modal: #090909;
  --border-input-modal: #4b5563;
  --border-input-modal-focus: #6b7280;
  --color-button: #4caf50;
  --color-button-hover: #388e3c;
  --text-addColumn: #14b8a6;
  --structure-button: #6366f1;
  --structure-button-hover: #4f46e5;
  --modal-button: #14b8a6;
  --modal-button-hover: #0f766e;
  --modal-button-invalid: #ef4444;
  --modal-button-invalid-hover: #dc2626;
  --text-removeColumn: #f87171;
  --text-removeRow: #f87171;
  --background-removeColumn: #ef4444;
  --background-removeColumn-hover: #dc2626;
  --background-removeRow: #ef4444;
  --background-removeRow-hover: #dc2626;
  --background-deleteCell: #059669;
  --outline-invalid: #f87171;
  --outline-valid: #047857;
  --border-invalid: #f87171;
  --cellinformation-textarea-text-color: #374151;
  --cellinformation-textarea-background-color: #d1d5db;
  --cellinformation-textarea-border-color: #d1d5db;
  --cellinformation-textarea-border-focus-color: #9ca3af;
  --cellinformation-textarea-border-ring-color: #6b7280;
  --cellinformation-textarea-border-outline-color: #6b7280;
  --cellinformation-textarea-invalid-text-color: #dc2626;
  --cellinformation-textarea-invalid-background-color: #dc2626;
  --cellinformation-textarea-invalid-background-hover-color: #e01111;
  --cellinformation-settings-backgroud-color: #fb923c;
  --cellinformation-settings-backgroud-color-hover: #ea580c;
  --cellinformation-settings-invalid-backgroud-color: #f87171;
  --cellinformation-settings-invalid-backgroud-color-hover: #dc2626;
  --settings-label-color: #f5f5f5;
  --settings-ring-color: #6b7280;
  --settings-accent-color: #4b5563;
  --settings-outline-color: #6b7280;
  --settings-invalid-button-color: #ef4444;
  --settings-invalid-text-color: #dc2626;
  --settings-section-border-color: #26282a;
  --settings-section-background-color: #424852;
}

.contrast-mode {  /* High Contrast Mode */
  @apply bg-black text-white;
  --background-modal: #000000;
  --background-table: #1f2937;
  --background-table-hover: #2d3748;
  --border-table: #6b7280;
  --text-modal: #f3f4f6;
  --text-input-modal: #ffffff;
  --border-input-modal: #9ca3af;
  --border-input-modal-focus: #f3f4f6;
  --color-button: #fbbf24;
  --color-button-hover: #f59e0b;
  --text-addColumn: #06b6d4;
  --structure-button: #3b82f6;
  --structure-button-hover: #2563eb;
  --modal-button: #34d399;
  --modal-button-hover: #059669;
  --modal-button-invalid: #ef4444;
  --modal-button-invalid-hover: #dc2626;
  --text-removeColumn: #fca5a5;
  --text-removeRow: #fca5a5;
  --background-removeColumn: #ef4444;
  --background-removeColumn-hover: #dc2626;
  --background-removeRow: #ef4444;
  --background-removeRow-hover: #dc2626;
  --background-deleteCell: #10b981;
  --outline-invalid: #f87171;
  --outline-valid: #059669;
  --border-invalid: #f87171;
  --cellinformation-textarea-text-color: #374151;
  --cellinformation-textarea-background-color: #d1d5db;
  --cellinformation-textarea-border-color: #d1d5db;
  --cellinformation-textarea-border-focus-color: #9ca3af;
  --cellinformation-textarea-border-ring-color: #6b7280;
  --cellinformation-textarea-border-outline-color: #6b7280;
  --cellinformation-textarea-invalid-text-color: #dc2626;
  --cellinformation-textarea-invalid-background-color: #dc2626;
  --cellinformation-textarea-invalid-background-hover-color: #e01111;
  --cellinformation-settings-backgroud-color: #fb923c;
  --cellinformation-settings-backgroud-color-hover: #ea580c;
  --cellinformation-settings-invalid-backgroud-color: #f87171;
  --cellinformation-settings-invalid-backgroud-color-hover: #dc2626;  
  --settings-label-color: #9a9696;
  --settings-ring-color: #9ca3af;
  --settings-accent-color: #6b7280;
  --settings-outline-color: #9ca3af;
  --settings-invalid-button-color: #ef4444;
  --settings-invalid-text-color: #dc2626;
  --settings-section-border-color: #6b7280;
  --settings-section-background-color: #1f2937;
  
}
